<%= render "shippindss/newform", member: @member %>
<table class="table">
 	<thead>
		<tr>
		   	<th>郵便番号</th>
		   	<th>住所</th>
		   	<th>宛名</th>
		   	<th></th>
		</tr>
 	</thead>
 	<tbody>
 		<tr>
	   		<% @shippings.each do |shipping| %>
				<td><%= shipping.postcode %></td>
				<td><%= shipping.address %></td>
	     		<td><%= shipping.name %></td>
	     		<td>
	 				<%= link_to “編集する“, shipping_edit_path (@shipping), class:'col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_19746' %>
	       			<%= link_to “削除する“, shippings_path(@shippings),class:'btn-sm btn-danger destroy_book_31537 ',method: :delete, "data-confirm" method: :delete,  data:    {confirm: “削除しますか？“} %>
	     		</td>
	  		<% end %>
 		</tr>
	</tbody>
</table>