
<h1>aaa</h1>
<div class="genre">
	<div class="box1">
		<h4>ジャンル検索</h4>
	</div>
	<div class="box2">
		<p><%= link_to "ケーキ" %></p>
		<p><%= link_to "焼き菓子" %></p>
		<p><%= link_to "プリン" %></p>
		<p><%= link_to "キャンディ" %></p>
	</div>
</div>
<div class="box3">
	ようこそ、NaganoCakeへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
</div>
<div class="box4">
	<h2>オススメ商品</h2>
	<div class="image">
		<img  src="画像url">
		<p>商品名</p>
		<p>¥1,000</p>
	</div>
</div>
<%= link_to "もっと見る>" %>