<h1>注文履歴一覧</h1>

<div class="row">
	<div class="col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">注文日</th>
					<th class="active">配送先</th>
					<th class="active">注文商品</th>
					<th class="active">支払金額</th>
					<th class="active">ステータス</th>
					<th class="active">注文詳細</th>
				</tr>
			</thead>
			<% @order_products.each do |order_product| %>
			<tbody>
				<tr>
					<td><%= order_product.created_at %></td>
					<td>
						<%= order_product.order.shipping_postcode %><br/>
						<%= order_product.order.shipping_address %><br/>
						<%= order_product.order.shipping_name %>
					</td>
					<td><%= order_product.product.name %></td>
					<td><%= order_product.purchase_price %></td>
					<td><%= order_product.order.status %></td>
					<td><%= link_to "表示する", order_path(order_product.order), class: 'btn btn-primary' %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
