<%= form_for(@order, url: orders_path) do |f| %>
  <h3>支払い方法</h3>
  <p>
    <%= f.radio_button :payment_method, true %>クレジットカード
  </p>
  <p>
    <%= f.radio_button :payment_method, false %>銀行振込
  </p>
  <h3>お届け先</h3>
  <p>
    <%= f.radio_button :ooo, "a" %>ご自身の住所
    <%= current_member.postcode + current_member.address + current_member.last_name + current_member.first_name %>
  </p>
  <p>
    <%= f.radio_button :ooo, "b" %>登録済住所から選択
    <%= current_member.postcode + current_member.address + current_member.last_name + current_member.first_name %>
    <p>
        <%= f.collection_select(:member_id, current_member.shipping, :id, :destination) %>
    </p>
  </p>
  <p>
    <%= f.radio_button :ooo, "c" %>新しいお届け先
    <h5>郵便番号(ハイフンなし)</h5>
    <%= f.text_field :shipping_postcode %>
    <h5>住所</h5>
    <%= f.text_field :shipping_address %>
    <h5>宛名</h5>
    <%= f.text_field :shipping_name %>
    <p>
  </p>
  <%= f.submit "確認画面へ進む" %>

<% end %>