<h2>ショッピングカート</h2>
<%= button_to 'カートを空にする', @cart_items, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>
 <table class="table table-bordered">
  <thead>
    <tr bgcolor="#cccccc">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <th>f.name</th>
      <td>f.price</td>
      <td><%= form_for(shipping) do |f| %>
  <h4>郵便番号(ハイフンなし)</h4>
  <%= f.number_field :total_number %>
      <%= f.submit '変更' %>
    <% end %>
<% end %></td>
      <td>each</td>
      <td><%= link_to "削除する", cart_items_path(), class:'btn-sm btn-danger',  method: :delete, data: {confirm: "削除しますか？"} %></td>
    </tr>
  </tbody>
</table>
<table class="table-bordered">
  <thead>
   <tr>
    <th bgcolor="#cccccc">合計金額</th><td>１００００００</td>
   </tr>
  </thead>
</table>
<span><%= link_to '買い物を続ける', products_path, :class => 'btn' %></span>