<h1>商品新規登録</h1>
<%= form_for(@product, url: admins_products_path) do |f| %>
    <p>
	   <%= f.attachment_field :image%>
    </p>
	<p>
        商品名　<%= f.text_field :name %>
    </p>
	<p>
        商品説明　<%= f.text_area :explanation %>
    </p>
    <p>
        <%= f.collection_select(:genre_id, @genres, :id, :name) %>
    </p>
	<p>
        税抜き価格　<%= f.text_field :price %>円
    </p>
	<p>
        <%= f.select :is_sale, [["販売中", "販売中"], ["売り切れ", "売り切れ"]], include_blank: "選択して下さい" %>
    </p>
	<p>
        <%= f.submit '新規登録', class: "btn btn-primary pull-right" %>
    </p>
<% end %>
