<h1>商品一覧</h1>
<h2>(全x件)</h2>
<% @products.each do |product| %>
	<%= link_to product_path do %>
		<%= attachment_image_tag @products , :image , size: ‘40x60’, fallback: “no_image.jpg” %>
			<div class=“”>
				<%= product.name %>
				<%= product.price %>
			</div>
		<% end %>
<% end %>
<%= paginate @products %>
