<div class="container, center-block">
	<div class="row">
		<%= render 'genres/genre_search' %>
		<div class="col-xs-4">
			<p>
				<%= attachment_image_tag @product , :image, size: "350x250"  %>
			</p>
		</div>
		<div class="col-xs-4">
			<h2>
				<%= @product.name %>
			</h2>
				<%= @product.explanation %>
			</p>
			<h3>
				¥<%= @product.price %>
				<span>(税込)</span>
			</h3>
			<%= form_for(@cart_item, url: cart_items_path ) do |f| %>
				<p>
	        		<%= f.select :total_number, [*1..20], include_blank: "選択して下さい" %>
	        		<%= link_to cart_items_path(@cart_items) do %>
	        			<%= f.submit 'カートに入れる',class:"btn btn-primary"  %>
	        		<% end %>
	    		</p>
	    	<% end %>
		</div>
	</div>
</div>

