<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-top">
      　<div class="conteiner">
        <nav class="nav navbar-nav navbar-left">
          <span class="header-title">LOGO</span>
      </nav>


       <nav>
         <ul class="nav navbar-nav navbar-right">

           <% if member_signed_in? %>
          <li><%= link_to "マイページ", member_path(current_member) %></li>
           <li><%= link_to "商品一覧" %></li>
           <li><%= link_to "カート" %></li>
           <li><%= link_to "ログアウト" %></li>
          <% elsif admin_signed_in? %>
           <li>管理者</li>
           <li><%= link_to “ログアウト“, destroy_admin_session_path, method: :delete %></li>
          <% else %>
           <li><%= link_to "about" %></li>
           <li><%= link_to "商品一覧" %></li>
           <li><%= link_to "新規登録" %></li>
          <li><%= link_to "ログイン" %></li>
          <% end %>
        </ul>
       </nav>
     </div>
    </header>
     <div class="container">
     <p id="notice"><%= notice %></p>
    <%= yield %>
    </div>
    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>

